p{
	color: #3498db ; 
	font-size: 20px; 
}

#idlink1{ /*contoh peggunaan selector ID*/
	color: #e74c3c ; 
	font-size: 10px ;
}

.link{ /*contoh penggunaan selector class*/
	color: #16a085 ; 
	font-weight: bold;
	text-decoration: none; 
}